
.product-post {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    border: 1px solid #ccc;
    background-color: azure;
}

.product-post form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.product-post input {
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 250px;
    height: 30px;
}